<!-- button to delete
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteContactModal">
        Delete Contact
    </button> -->
    
    <!-- Modal that confirms you would like to delete -->
    <!-- <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deletePostModalLabel">Delete {{ post.title }}?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to delete {{post.title}}? This action cannot be undone.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="{{ url_for('delete_single_post', post_id=post.id) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        </div>
    </div> -->