{% extends 'base.html' %} 

{% block title %}Phone Book{% endblock %}

{% block content %}

<h3>Welcome to the Phancy Phone Book</h3>

{% if contacts != [] %}
  <h5>Welcome {{ current_user.email }} </h5>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../assets/phone-book_tower.png" class="img-fluid rounded-start" alt="tower of old phone books with joke about the internet">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Phancy Phone Book</h5>
        <p class="card-text">This one can't be used as a door stop.</p>
      </div>
    </div>
  </div>
</div>

    {% for contact in contacts %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ contact.first_name }} {{ contact.last_name }}</h5>
            <h6 class="card-subtitle">mobile: {{ contact.mobile }}</h6>
            <h6 class="card-subtitle text-muted">work: {{ contact.work }}</h6>
            <h6 class="card-subtitle">email: {{ contact.email }}</h6>
            <a href="{{ url_for('view_single_contact', contact_id=contact.id) }}"><p style="font-size:small; color:darkcyan"><em>Edit Contact</em></p></a>
          </div>
        </div>
    {% endfor %}

  {% else %}
  <div>
    <h4>Please sign in to view your contacts</h4>
    <br>
    <a class="btn btn-secondary mt-3" href="{{ url_for('login') }}" role="button">Log in</a>
  </div>
    

  {% endif %}

{% endblock %}