<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #f8f398;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      {% if current_user.is_anonymous %}
      <div class="navbar-nav">
        <a class="nav-link active" href="{{ url_for('login') }}">Log in<a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link active" href="{{ url_for('signup') }}">Sign Up<a>
      </div>
      {% else %}
      <div class="navbar-nav">
        <a class="nav-link active" href="{{ url_for('add_contact') }}">Add Contact<a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link active" href="{{ url_for('logout') }}">Log Out<a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>