{% extends 'base.html' %} {% block title %}Phone Book{% endblock %} {% block
content %}
<div class="text-center">
  <form method="post">
    {{form.csrf_token}}
    <div class="card mt-5 mx-auto border-0">
      <div class="card-body">
        <div class="row mt-3">
          {{ form.first_name.label (class='col-2 col-form-label offset-1',
          type='text') }}
          <div class="col-6">
            {{ form.first_name(class='form-control', placeholder='Contact first name') }}
          </div>
        </div>
        <div class="row mt-3">
          {{ form.last_name.label (class='col-2 col-form-label offset-1', type='text')
          }}
          <div class="col-6">
            {{ form.last_name(class='form-control', placeholder='Contact last name') }}
          </div>
        </div>
        <div class="row mt-3">
          {{ form.mobile.label (class='col-2 col-form-label offset-1')}}
          <div class="col-6">
            {{ form.mobile(class='form-control', type='tel', placeholder='(000) 123-4567') }}
          </div>
        </div>
        <div class="row mt-3">
          {{ form.work_phone.label (class='col-2 col-form-label offset-1')}}
          <div class="col-6">
            {{ form.work_phone(class='form-control', type='tel',
            placeholder='(000) 123-4567') }}
          </div>
        </div>
        <div class="row mt-3">
          {{ form.email.label (class='col-2 col-form-label offset-1')}}
          <div class="col-6">
            {{ form.email(class='form-control', type='email',
            placeholder='email@url.com') }}
          </div>
        </div>
        <div class="text-center">
          {{ form.submit(class='btn btn-block btn-primary mt-3')}}
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content%}
