{% extends 'base.html' %} 

{% block title %}Phone Book{% endblock %}

{% block content %}
    <form method='post'>
        {{form.csrf_token}}
        <div>

            {{ form.email.label }}
            {{ form.email(class='form-control', placeholder='email@url.com') }}

            {{ form.password.label }}
            {{ form.password(class='form-control', placeholder='Enter Password') }}

            {{ form.confirm_pass.label }}
            {{ form.confirm_pass(class='form-control', placeholder='Enter Confirm Password') }}

            {{ form.submit(class='btn btn-primary mt-3')}}

        </div>

    </form>
{% endblock content%}