{% extends 'base.html' %} 

{% block title %}Phone Book{% endblock %}

{% block content %}
    <form method='post' action="/">
        {{form.csrf_token}}
        <div>

            {{ form.first_name.label }}
            {{ form.first_name(class='form-control', placeholder='type your first name') }}

            {{ form.last_name.label }}
            {{ form.last_name(class='form-control', placeholder='type your first name') }}

            {{ form.mobile_phone.label }}
            {{ form.mobile_phone(class='form-control', placeholder='(###) ###-####') }}

            {{ form.email.label }}
            {{ form.email(class='form-control', placeholder='email@url.com') }}

            {{ form.submit(class='btn btn-primary mt-3')}}

        </div>

    </form>
{% endblock content%}