{% extends 'base.html' %}

{% block title %}Phancy Phone Book | {{ contact.first_name }} {{ contact.last_name }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header"> {{ contact.first_name }} {{ contact.last_name }}</div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p> <strong>mobile:</strong> {{ contact.mobile }}</p>
            <p> <strong>work:</strong> {{ contact.work }}</p>
            <p> <strong>email:</strong> {{ contact.email }}</p>
            <footer class="blockquote-footer">{{ contact.owner.email }}></footer>
        </blockquote>
        </div>
    </div>

    <!-- button to edit the contact -->
    <a href="{{ url_for('edit_single_contact', contact_id=contact.id) }}" class="btn btn-success">Edit contact</a>


{% endblock %}