{% extends 'base.html' %}

{% block title %}Phancy Phone Book | {{ contact.first_name }} {{ contact.last_name }}{% endblock %}

{% block content %}
<br>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <strong>{{ contact.first_name }} {{ contact.last_name }}</strong>
            </h5>
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p><span class="fw-bold">mobile:</span> {{ contact.mobile }}</p>
            <p><span class="fw-bold">work:</span> {{ contact.work_ph }}</p>
            <p><span class="fw-bold">email:</span> {{ contact.email }}</p>
            <footer class="blockquote-footer">{{ contact.user.email }}></footer>
        </blockquote>
        </div>
    </div>

    <!-- button to edit the contact -->
    <a href="{{ url_for('edit_single_contact', contact_id=contact.id) }}" class="btn btn-success">Edit contact</a>
    <!-- button to delete the contact -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Contact</button>
    
    <!-- pop-up window to ask user if they want to delete -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Contact?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete contact entry for '{{ contact.first_name }} {{contact.last_name}}?'
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{{ url_for('delete_contact', contact_id=contact.id) }}" class="btn btn-danger">DELETE</a>
        </div>
        </div>
    </div>
    </div>

    <a class="btn btn-secondary" href="{{ url_for('home') }}" role="button">Back to Phone Book</a>

{% endblock %}
